    body {
    margin: 0px;
    background-color: rgb(17,37,130);
}
.navBar{
/* width: 1400px; */
height: 140px;
margin-top: 50px;
/* margin-left: 30px;
margin-right: 20px;
margin-bottom: 30px; */
background-color: rgb(17,37,130 );
// border-style: solid;    
border-color: black;

}
.firstDiv{
width: 1370px;
height: 563px;
// margin-top: 30px;
margin-left: 30px;
margin-right: 20px;
margin-bottom: 30px;
background-color: rgb(54,29,116);
border-style: solid;    
border-color: black;
}
.secondDiv{
width: 1370px;
height: 750px;
margin-top: 30px;
margin-left: 30px;
margin-right: 20px;
margin-bottom: 30px;
background-color: rgb(54,29,116);
border-style: solid;    
border-color: black;
}
.thirdDiv{
width: 1370px;
height: 750px;
margin-top: 30px;
margin-left: 30px;
margin-right: 20px;
margin-bottom: 30px;
background-color: rgb(54,29,116);
border-style: solid;    
border-color: black;
}
.fourthDiv{
width: 1370px;
height: 750px;
margin-top: 30px;
margin-left: 30px;
margin-right: 20px;
margin-bottom: 30px;
background-color: rgb(54,29,116);
border-style: solid;    
border-color: black;
}
.fifthDiv{
width: 1370px;
height: 750px;
margin-top: 30px;
margin-left: 30px;
margin-right: 20px;
margin-bottom: 10px;
background-color: rgb(54,29,116);
border-style: solid;    
border-color: black;
}    
.baseBar{
     /* width: 1400px; */
height: 200px;
margin-top: 60px;
/* margin-left: 30px;
margin-right: 20px; */
margin-bottom: 30px;
background-color: rgb(54,29,116);
border-style: solid;    
border-color: black;
} 

ul{
    float: right;
    margin-top: 50px;
    margin-right: 300px;
    padding: 0;
    font-size: 20px;
    font-style: normal;

}

li{
    display: inline;
    /* margin-top: 30px; */
    margin-right: 40px;
    font-style: normal;
}
a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;;;
}
a:hover{
    color:peachpuff;
    text-decoration: underline;
}
// 
