@import "variables.scss";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $primary-color;
}


#aboutme-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
}

.aboutme-headers {
    font-size: 50px;
    font-family: $font-family-main;
    color: white;
}

.aboutme-subheaders {
    font-size: 30px;
    font-family: $font-family-main;
    color: white;
}

.aboutme-section-header{
    display: flex;
    align-items: center;  
    margin-top: 60px; 
    width: 100%;
    height: 100px;  
}

.aboutme-section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 500px;
}

.aboutme-section-2-child-1 {
    display: flex;
    flex-direction: column;
    // width: 100%;
    // height: 300px;
}

.aboutme-section-2-child-1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.aboutme-section-2-child-1-text {
    color: white;
    font-size: 24px;
    font-family: $font-family-main;
    line-height: 35px;

}

.aboutme-section-2-child-2 {
    display: flex;
}

.aboutme-section-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;  
}


.aboutme-section-4{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
}

.aboutme-section-4-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}

.aboutme-section-4-text {  
    color: white;
    font-size: 24px;
    font-family: $font-family-main;
    line-height: 30px;
}



.aboutme-section-6 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-indent: 10px;
}


.aboutme-section-8 {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.aboutme-section-8-subsection {
    display: flex;
    align-items: center;
    width: 95%;
    margin: auto;
    height: 100px; 
}

.aboutme-section-8-content {
    padding: 30px;
    text-indent: 10px;
}



.aboutme-section-10 {
    display: flex;
    flex-direction: column;
    height: 450px;
}

.aboutme-section-10-content {
    padding: 30px;
    text-indent: 10px;
}

.aboutme-section-11 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;  
}

.aboutme-section-12 {
    display: flex;
    flex-direction: column;
    height: 450px;
}

.aboutme-section-12-content {
    padding: 30px;
    text-indent: 10px;
}


.aboutme-section-14 {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.aboutme-section-14-content {
    padding: 30px;
    text-indent: 10px;
}


ul.aboutme-ul ::marker {
    color: blueviolet;
    font-size: 30px;
}

li.aboutme-li {
    color: white;
    font-size: 24px;
    font-family: $font-family-main;
    margin-bottom: 10px;
}


@media (max-width: 768px) {

    .aboutme-section-2 {
        width: 100%;
    }

    .appear-onmobile {
        visibility: visible
    }

    .aboutme-headers {
        font-size: 30px;
    }

    .aboutme-section-2-child-2 {
        display: none;
    }

    .aboutme-section-2-child-2-image {
        display: none;
    }

    .aboutme-section-2 {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: 100%;
    }

    .aboutme-section-2-child-1 {
        width: 100%;
        height: 300px;
    }
    

    .aboutme-section-2-child-1-text {
        color: white;
        font-size: 16px;
        font-family: $font-family-main;
        line-height: 27px;
    }


    .aboutme-section-4{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .aboutme-section-4-content {
        height: 600px;
    }

    .aboutme-section-4-text {
        font-size: 16px;
    }

    li.aboutme-li {
        font-size: 16px;
        text-align: start;
        text-indent: 0px;
        padding-left: 10px;
        line-height: 25px;
    }

}


@media (max-width: 500px) {

    .aboutme-headers {
        font-size: 30px;
        font-family: $font-family-main;
        color: white;
    }

    .aboutme-date {
        display: none;
    }

    .appear-onmobile {
        visibility: visible
    }

    .aboutme-section-2-child-2 {
        display: none;
    }

    .aboutme-section-2-child-2-image {
        display: none;
    }

    .aboutme-section-2 {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        width: 100%;
        height: 400px;
    }

    .aboutme-section-2-child-1-text {
        color: white;
        font-size: 16px;
        font-family: $font-family-main;
        line-height: 27px;
    }

    .aboutme-section-4{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    
    .aboutme-section-4-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .aboutme-section-4-text {
        align-items: center;
        font-size: 16px;
    }

    .aboutme-section-8 {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .aboutme-section-8-subsection {
        display: flex;
        align-items: center;
        width: 95%;
        margin: auto;
        height: 100px; 
    }

    .aboutme-section-10 {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .aboutme-section-12 {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    li.aboutme-li {
        font-size: 16px;
        text-align: start;
        text-indent: 0px;
        padding-left: 10px;
        line-height: 25px;
    }

}