$primary-color: #25292d;

body {
    margin: 0px;
    background-color: $primary-color;
}


.header{
    color: white;
    font-size: 14px;
    text-align: center;
    margin-bottom: 150px;
    font-family: "JetBrains Mono",monospace;

}

.divHeader{

    color: white;
    font-size: 24px;
    text-align: center;
    font-family: "JetBrains Mono",monospace;
}
.divText{
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
    font-family: "JetBrains Mono",monospace;
    text-align: left;

}

.nestedDiv{
    text-align: center;
    margin: 0 auto;
    width: 620px;
    
}



.navBar{

    height: 100px;
    text-align: center;
    border: white;
    border-style: solid;
    position:sticky;
    top:0;
    width: 100%;
    background-color: rgb(25,28,31);

}


.commonDiv{
width: 1370px;
height: 450px;
padding-top: 30px;
margin-left: 30px;
margin-right: 20px;
margin-bottom: 30px;
background-color: $primary-color;
text-align: center;

}




.nameIcon {
    margin-right: 20px;
    height: 0px;
    display: inline;
    border: white;
    border-style: solid;

}
  

ul{
    margin-top: 50px;
    font-size: 20px;
    text-align: center;

}

li{
    display: inline;
    margin-right: 40px;
}
a{
    color: white;
    text-decoration: none;
    font-family: "JetBrains Mono",monospace;;
}
a:hover{
    color:peachpuff;
    text-decoration: underline;

}

