
@import 'variables.scss';



body {
    margin: 0px;
    background-color: $primary-color;
}


.navBar{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    position:sticky;
    top:0;
    width: 100%;
    background-color: rgb(25,28,31);
}

.appear-onmobile {
    visibility: hidden;
}

ul.commonUL{
    font-size: 20px;
}

li.commonLI{
    display: inline;
    margin-right: 40px;
}
a.commonA{
    color: white;
    text-decoration: none;
    font-family: $font-family-main;
}
a.commonA:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: antiquewhite;
}



#container {
 display: grid;
 justify-items: center;
 width: 100%;
 height: 100%;
 
}

.content-1 {
    display: flex;
    align-items: center;
    width: 80%;
    height: 100px;
    color: white;
    margin-top: 100px;
    font-family: $font-family-main;
    font-size: 33px;
}

.content-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    height: 500px;
    color: white;
}


.content-2-child-text {
    font-size: 1.4rem;
    font-weight: thin;
    line-height: 1.6;
    margin-bottom: 0;
    margin-top: 1.5rem;
    font-family: $font-family-main;
}

.content-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    width: 80%;
    height: 100px;
    color: white;
    font-family: $font-family-main;
}

.content-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 80%;
    height: 500px;
    color: white;
}

.reads {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 150px;
    background-color: $section-div-bgColor;
    border-radius: 5px;
    padding: 20px;
}

.reads-date {
    font-family: $date-font-family;
    font-weight: 100;
    font-size: .85rem;
    color: $date-color;
}

.reads-content {
    font-family: $font-family-main;
    color: $content-color;
    margin-top: 50px;
    text-decoration: none;
}

.reads-content:hover {
    text-decoration: underline;
    text-decoration-color: antiquewhite;
    text-underline-offset: 5px;
}


.content-5 {
    display: flex;
    
    align-items: center;
    width: 80%;
    height: 100px;
    color: white;
    font-family: $font-family-main;
}

.content-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    height: 600px;
    color: white;
    font-family: $font-family-main;
}

.tutorials {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 112px;
    border: lightslategrey 2px solid;
    border-radius: 5px;
    padding: 10px;

}

.tutorials-date {
    display: flex;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: $date-font-family;
    color: $date-color-secondary;
    font-size: .85rem;
    
}

.tutorials-content {
    display: flex;
    font-family: $font-family-main;
    color: $content-color;
    text-decoration: none;
    margin-top: 20px;
    font-size: 15px;
}

.tutorials-content:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}
.content-7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100px;
    color: white;
    font-family: $font-family-main;
}

.content-8 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: centerf;
    width: 80%;
    height: 300px;
    color: white;
}

.sideprojects {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 150px;
    background-color: $section-div-bgColor;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}   



.sideprojects-date {
    font-family: $date-font-family;
    color: $date-color;
    margin-bottom: 0px;
}

.sideprojects-content {
    font-family: $font-family-main;
    color: white;
    margin-top: 50px;
    text-decoration: none;
}

.sideprojects-content:hover {
    text-decoration: underline;
    text-decoration-color: antiquewhite;
    text-underline-offset: 5px;
}


.content-9 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    height: 200px;
    color: white;
}

.footer-content-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer-items {
    margin-left: 10px;
    color: white;
    font-family: $font-family-main;
}






@media (max-width: 768px) {

    .navbar {
        width: 100%;
        height: 110px;
        font-family: $font-family-main;
    }

    .disappear-onmobile {
        display: none;
    }

    ul.commonUL{
        width: 100%;
        font-size: 14px;
        font-family: $font-family-main;
        text-align: center;
    }
    
    li.commonLI{
        display: inline;
        width: 100%;
        margin-right: 20px;
        font-family: $font-family-main;
    }
    a.commonA{
        width: 100%;
        color: white;
        text-decoration: none;
        font-family: $font-family-main;
    }
    a.commonA:hover{
        width: 900%;
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-color: antiquewhite;
    }

    .content-1 {
        display: flex;
        align-items: center;
        width: 90%;
        height: 100px;
        color: white;
        margin-top: 50px;
        font-family: $font-family-main;
        font-size: 16px;
    }

    .content-2 {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 500px;
        color: white;
    }


    .content-2-child-text {
        font-size: 1.0rem;
        font-weight: thin;
        line-height: 1.6;
        margin-bottom: 0;
        margin-top: 1.5rem;
        font-family: $font-family-main;
    }
    
    .content-2-child-image {
        display: none;
    }
    
    .content-4 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        height: 100%;
        color: white;
    }

    .content-3 {
        display: flex;
        align-items: center;
        justify-self: center;
        width: 90%;
        height: 100px;
        color: white;
        font-family: $font-family-main;
    }
    

    .reads {
      width: 90%;
    }
    
    .content-6 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        height: 100%;
        color: white;
        font-family: $font-family-main;
    }

    .tutorials {
        width: 90%;
    }

    .content-8 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: centerf;
        width: 90%;
        height: 100%;
        color: white;
    }

    .sideprojects {
        width: 90%;
    }

    .content-9 {
        width: 90%;
        height: 200px;
    }   
    
}



@media (max-width: 500px) { 

    .navbar {
        width: 100%;
        height: 110px;
        font-family: $font-family-main;
    }

    .disappear-onmobile {
        display: none;
    }

    .appear-onmobile {
        visibility: visible
    }

    ul.commonUL{
        width: 100%;
        font-size: 14px;
        font-family: $font-family-main;
        text-align: center;
    }
    
    li.commonLI{
        display: inline;
        width: 100%;
        margin-right: 20px;
        font-family: $font-family-main;
    }
    a.commonA{
        width: 100%;
        color: white;
        text-decoration: none;
        font-family: $font-family-main;
    }
    a.commonA:hover{
        width: 900%;
        text-decoration: underline;
        text-underline-offset: 10px;
        text-decoration-color: antiquewhite;
    }

    .content-1 {
        display: flex;
        align-items: center;
        width: 90%;
        height: 100px;
        color: white;
        margin-top: 50px;
        font-family: $font-family-main;
        font-size: 16px;
    }

    .content-2 {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 500px;
        color: white;
    }


    .content-2-child-text {
        font-size: 1.0rem;
        font-weight: thin;
        line-height: 1.6;
        margin-bottom: 0;
        margin-top: 1.5rem;
        font-family: $font-family-main;
    }
    
    .content-2-child-image {
        display: none;
    }
    
    .content-4 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        height: 100%;
        color: white;
    }

    .content-3 {
        display: flex;
        align-items: center;
        justify-self: center;
        width: 90%;
        height: 100px;
        color: white;
        font-family: $font-family-main;
    }
    

    .reads {
      width: 90%;
    }
    
    .content-6 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        height: 100%;
        color: white;
        font-family: $font-family-main;
    }

    .tutorials {
        width: 90%;
    }

    .content-8 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: centerf;
        width: 90%;
        height: 100%;
        color: white;
    }

    .sideprojects {
        width: 90%;
    }

    .content-9 {
        width: 90%;
        height: 200px;
    }    
    
}