body {
    margin: 0px;
  
    background-color: rgb(37, 41, 45);

}

.header{
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: "JetBrains Mono",monospace;

}

.divHeader{

    color: white;
    font-size: 24px;
    text-align: center;
    font-family: "JetBrains Mono",monospace;
}
.divText{
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
    font-family: "JetBrains Mono",monospace;
    text-align: left;

}

.nestedDiv{
    text-align: center;
    margin: 0 auto;

    width: 620px;
    
}






.navBar{

height: 100px;
margin-top: 100px;
background-color: transparent;
text-align: center;

}
.firstDiv{
width: 1370px;
height: 450px;
padding-top: 30px;
margin-left: 30px;
margin-right: 20px;
margin-bottom: 30px;
background-color: transparent;
}
  

ul{
    margin-top: 50px;
    font-size: 20px;
    text-align: center;

}

li{
    display: inline;
    margin-right: 40px;
}
a{
    color: white;
}
a:hover{
    color:peachpuff;

}

