@import 'variables.scss';


* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: $font-family-main;
}

#thingsiread-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    width: 80%;
    height: 100%;   
}


.thingsiveread {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    
}

.thingsiveread-header {
    display: grid;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 100px;
    height: 150px;
    color: white;
    font-size: 35px;
}

.thingsiveread-header-date {
    display: grid;
    align-items: center;
    justify-content: flex-start;
    height: 150px;
    color: $date-color;
    font-size: 25px;
}

.thingsiveread-content-text {
    color: lightgrey;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
}

.thingsiveread-content-text:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-color: $date-color;
}

.thingsiveread-content-date {
    color: $date-color;
    font-size: 16px;
    font-weight: 200;
    font-family: $date-font-family;
}

.content-2022 {
    // display: grid;
    // grid-template-columns: 1fr;
    height: 100%;
    margin-bottom: 100px;
}


.content-2021 {
    height: 100%;
    margin-bottom: 100px;
}

.content-2020 {
    height: 100%;
}

@media (max-width: 768px) {
    
}

@media (max-width: 500px) {

    .thingsiveread-header {
        margin-top: 50px;
        font-size: 20px;
        height: 70px;
    }


    .thingsiveread-content-text {
        font-size: 15px;
    }
    
    .thingsiveread-content-date {
        font-size: 11px;
    }
    


}