


@import 'variables.scss';


* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: $font-family-main;
}

#thingsiread-container {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    margin: auto;
    
}

.content-2022 {
    width: 80%;
    height: 500px;
    border: white 2px solid;
}

.content-2021 {
    width: 80%;
    height: 500px;
    border: white 2px solid;
}

.content-2020 {
    width: 80%;
    height: 500px;
    border: white 2px solid;
}