// $primary-color: green;
// $secondary-color: green;
// $primary-font-family: "JetBrains Mono",monospace;

$primary-color: #25292d;
$secondary-color: rgb(25,28,31);
$date-color: rgb(31, 117, 224);
$date-color-secondary: rgb(119, 136, 153);
$content-color: white;
$section-div-bgColor: rgb(25,28,31);
$date-font-family: 'IBM Plex Mono', monospace;
$primary-font-family: "JetBrains Mono", monospace;
$font-family-main: "Inter",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,sans-serif;

